{% extends 'base.html' %}
{% block content %}
{% load embed_video_tags %}
<br><br>
<br><br>
<div class="container">
  <div>
    <div>
      
      {% video video.url '900 x 800' %}
      
    </div>
    <h5 class="card-title">{{ video.name }}</h5>
    <h6>Description: {{ video.description }}</h6>
    {% if user.is_authenticated and video.user.id == user.id %}
    <div class="card-action">
      <a href="{% url 'videos_update' video.id %}">Edit</a>
      <a href="{% url 'videos_delete' video.id %}">Delete</a>
    </div>
    {% else %}
    <br><br>
    {% endif %}
        <form action="{% url 'add_comment' video.id %}" method="POST" >
          <div class="comment_container">
            <h2>Leave Us a Comment</h2>
              {% csrf_token %}
              <div>{{ comment_form.as_p }}</div>
                <input type="submit" value='Add Comment' class="btn">
                <button value='clear' type="reset" class="btn" href='{ % url 'detail' video.id % }'>Cancel</button>
              </div>
            </form>
    <tbody>
      {% for comment in video.comment_set.all %}
      <div class="comment">
        {% if user.id.avatar == user.id %}
        <p>
            <img src="{{user.avatar}}" alt=""style="height: 20px; border-radius: 50%;">
            {% else %}
            <img src="https://picsum.photos/200" alt="" style="height: 20px; border-radius: 50%;">
            {% endif %}
            {{comment.text}}  -  {{comment.date}}</p>
      </div>
      {% endfor %}
    </tbody>
  </div>
  </div>


{% endblock %}

