{% extends 'base.html' %}
{% block content %}
{% load embed_video_tags %}


{% if user.avatar %}
<img src="{{user.avatar}}" alt=""style="height: 100px; border-radius: 50%;">
{% else %}
<img src="https://picsum.photos/200" alt="" style="height: 200px; border-radius: 50%;">
{% endif %}
<h1>{{user.name}}'s Videos</h1>

  <div class="card-content">
<div class="container">
        <div class="row">
            {% for video in videos %}
            <div class="col s4" style="margin-bottom: 10px ;">
                <div class="videocontainer">
                    <div>
                        <object>
                            {% video video.url '400 x 250' %}
                        </object>
                    </div>
                     <a href="{% url 'detail' video.id %}" class="theaterbtn btn tooltipped"  style="color: whitesmoke;" data-position="bottom" data-tooltip="I am a tooltip">Theater Mode</a>
                 </div>
            </div>
            {% endfor %}
        </div>
      </div>
     
  </div>

{% endblock %}