{% extends 'base.html' %}
{% block content %}
{% load embed_video_tags %}
<h1>Welcome {{user.name}}</h1>
<div>
  <div class="card">
    <div class="card-content">
        <img src="{{user.avatar}}" alt="">
        <div class="card-content">
    {% if user.is_authenticated and video.user.id == user.id %}
          {% video video.url '900 x 800' %}
          
        </div>
      <span class="card-title">{{ user.name }}</span>
      <p>Bio: {{ user.bio }}</p>
    </div>
    <h5 class="card-title">{{ video.name }}</h5>
    <h6>Description: {{ video.description }}</h6>
    <div class="card-action">
      <a href="{% url 'videos_update' video.id %}">Edit</a>
      <a href="{% url 'videos_delete' video.id %}">Delete</a>
    </div>
    {% else %}
    <br><br>
    {% endif %}
    <br><br>
  </div>

{% endblock %}