body {
   
    min-height: 100vh !important;
    background-color: #333333;
    color: whitesmoke;
   
    
    
  }
  
  main {
    /* display: grid !important;
    grid-gap: 1rem !important;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) !important; */
    place-items: center;
    color: whitesmoke;
    
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: #333333;
    color: whitesmoke;
    margin-top: 15%;
  }


.theaterbtn{
    background-color: red;
    color: whitesmoke !important;
    width: 400px !important; 
}

.videocontainer { 
    width: 400px !important; 
    margin-bottom: 10px;
    
    }


.theater{
    background-color: #333333;
    color: whitesmoke;
    min-width: 400px;
    width: 100vh;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    place-items: center;

}

.navi{
    background-color: #333333 !important;
    color: whitesmoke !important;
}

.card_container{
background-color: whitesmoke !important;
padding: 100px;

}

.comment{
background-color: black !important;
padding: 10px;
place-items: center;
position: static;
}

.comment_container{
    width: 600px;
    border: 2px solid #333;
    padding: 15px 10px;
}


.card-content{
    place-items: center;
    align-items: center;
    justify-content: center;
}

.parentContainer {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: auto;
  }